#set($ctx=$rc.contextPath)
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<style type="text/css">
<!--
body {
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	background-color: #F8F9FA;
}
-->
</style>

<link href="${ctx}/css/images/skin.css" rel="stylesheet" type="text/css" />
<link type="text/css" rel="stylesheet" href="/js/frame/admin.css"
	media="screen" />
</head>
<body class="main-body">


	<div class="path">
		<p>
			当前位置：KVM试用申请<span>&gt;</span>试用申请
		</p>
	</div>

	<table width="100%" border="0" cellspacing="0" cellpadding="0">
		<tr>
			<td colspan="4" bgcolor="#f2f2f2" class="left_txt2">申请记录 [<font
				color="red"></>如果只有一条记录，表示该手机号未申请过虚拟机</font>>]
			</td>
			<tr>
				<tr>
					<td height="30" align="center" bgcolor="#f2f2f2" class="left_txt2">邮箱</td>
					<td height="30" align="center" bgcolor="#f2f2f2" class="left_txt2">联系电话</td>
					<td height="30" align="center" bgcolor="#f2f2f2" class="left_txt2">申请时间</td>
					<td height="30" align="center" bgcolor="#f2f2f2" class="left_txt2">审核状态</td>
				</tr>
				#foreach($elem in $pageList)
				<tr>
					<td height="30" align="center" bgcolor="#f2f2f2" class="left_txt2">$elem.email</td>
					<td height="30" align="center" bgcolor="#f2f2f2" class="left_txt2">$elem.phone</td>
					<td height="30" align="center" bgcolor="#f2f2f2" class="left_txt2">$date.format("yyyy-MM-dd
						HH:mm", $elem.applicationTime)</td>
					<td height="30" align="center" bgcolor="#f2f2f2" class="left_txt2">
						#if($elem.status == 0) 未通过 #elseif($elem.status == 1) 通过 #else 其他
						#end</td>
				</tr>
				#end
	</table>


	<form action="${ctx}/admin/kvm/application_approval" method="post">
		<input type="hidden" name="id" value="${id}" />
		<table width="100%" border="0" cellspacing="0" cellpadding="0">
			<tr>
				<td height="30" align="center" bgcolor="#f2f2f2" class="left_txt2">试用天数：</td>
				<td bgcolor="#f2f2f2"><input type="text" name="day" value="3" /></td>
			</tr>

			<tr>
				<td width="20%" height="30" align="center" bgcolor="#f2f2f2"
					class="left_txt2" colspan="2"><input type="submit"
					value="审核通过" /></td>
			</tr>

		</table>
	</form>
	<table width="100%" border="0" cellspacing="0" cellpadding="0">
		<tr>
			<td height="30" align="center" bgcolor="#f2f2f2" class="left_txt2"><a
				href="javascript:self.close()">关闭窗口</a></td>

		</tr>
	</table>

</body>
</html>
<script LANGUAGE="javascript">
	
</script>
