#macro( pager $url $page ) 

#set($pageNum = $page.page)

#set($maxPageNum = $page.totalPages)

#set($pageSize = $page.limit)

总数:${page.totalCount}  每页:${page.limit}   ${pageNum}/${maxPageNum}

#if($pageNum == 1) 首页 #else <a href="$url&page=1&pageSize=${pageSize}">首页</a> #end

#if($pageNum != 1 && $pageNum <= $maxPageNum)#set($ppageNum = $pageNum - 1)<a href="$url&page=${ppageNum}&pageSize=${pageSize}">上一页</a>#else 上一页 #end

#if($pageNum < 5)
	#set($nums = [1 .. 5])
	#foreach($i in $nums)
	    
		#if($i <= $maxPageNum)
		    #if($i == $pageNum)
			  $i
			#else 
			  <a href="$url&page=$i&pageSize=${pageSize}">$i</a>
			#end
		#else
		    #break
		#end
	#end  
#else
    #set($rangeBegin = $pageNum - 2)
	#set($rangeEnd = $pageNum + 2)
	#set($nums = [$rangeBegin .. $rangeEnd])
	#foreach($i in $nums)
		#if($i <= $maxPageNum)
		    #if($i == $pageNum)
			  $i
			#else 
			  <a href="$url&page=$i&pageSize=${pageSize}">$i</a>
			#end
		#else
		    #break
		#end
	#end
#end
 
#if($pageNum < $maxPageNum) #set($npageNum = $pageNum + 1)<a href="$url&page=${npageNum}&pageSize=${pageSize}">下一页</a>#else 下一页 #end
 
#if($pageNum == $maxPageNum) 尾页  #else<a href="$url&page=$maxPageNum&pageSize=${pageSize}">尾页</a>#end
 
#end