#set($ctx=$rc.contextPath)
<!DOCTYPE html>
<html>
<head>
<style type="text/css">
<!--
body {
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	background-color: #F8F9FA;
}
-->
</style>
<link href="${ctx}/css/images/skin.css" rel="stylesheet" type="text/css" />
<link type="text/css" rel="stylesheet" href="/js/frame/admin.css"
	media="screen" />
<link rel="stylesheet"
	href="/js/jquery/plugins/jquery_ui/themes/base/jquery.ui.all.css" />
</head>

<body>
	<div class="path">
		<p>
			当前位置:iConsole<span>&gt;</span><a href="/egress/index?t=1">带宽升级</a><span>&gt;</span><a
				onclick="javascript:window.location.reload()">查看虚拟机</a>
		</p>
	</div>
	<div class="set-area">
		<h3 class="title">$user_email | 虚拟机列表</h3>
		<hr />
		<table width="100%" border="0" cellspacing="0" cellpadding="0"
			class="table" align="center">
			<thead>
				<th>虚拟机ID</th>
				<th>名称</th>
				<th>带宽</th>
				<th>操作</th>
			</thead>
			<tbody>
				#foreach($elem in $vm_list)
				<tr>
					<td>$!elem.id</td>
					<td>$!elem.name</td>
					<td>$!elem.instance_type.network_bandwidth M</td>
					<td><button
							onclick="a_update_egress('$!elem.id','$!elem.instance_type.network_bandwidth','$user_id')">更新带宽</button></td>
				</tr>
				<div id="dialog_update_egress_$!elem.id" title="更新带宽_$!elem.id"
					style="display: none;">
					<span> 当前带宽:<font color="blue">$!elem.instance_type.network_bandwidth
							M</font>
					</span><br /> <span> 新带宽值:<input id="new_brand_$!elem.id" size="5">M
					</span> <br /> <span> 是否计费:<select id="isNeedPay_$!elem.id">
							<option value="1">是</option>
							<option value="2">否</option>
					</select>
					</span>
					<hr />
					<p>
						<font color="red">带宽升级涉及客户账户资金修改，请小心操作!</font>
					</p>
				</div>
				#end
			</tbody>
		</table>
	</div>
</body>
<script type="text/javascript" src="/js/jquery/core/jquery-1.9.1.js"></script>
<script type="text/javascript"
	src="/js/jquery/plugins/jquery_ui/jquery.ui.core.js"></script>
<script type="text/javascript"
	src="/js/jquery/plugins/jquery_ui/jquery.ui.widget.js"></script>
<script type="text/javascript"
	src="/js/jquery/plugins/jquery_ui/jquery.ui.mouse.js"></script>
<script type="text/javascript"
	src="/js/jquery/plugins/jquery_ui/jquery.ui.draggable.js"></script>
<script type="text/javascript"
	src="/js/jquery/plugins/jquery_ui/jquery.ui.position.js"></script>
<script type="text/javascript"
	src="/js/jquery/plugins/jquery_ui/jquery.ui.resizable.js"></script>
<script type="text/javascript"
	src="/js/jquery/plugins/jquery_ui/jquery.ui.button.js"></script>
<script type="text/javascript"
	src="/js/jquery/plugins/jquery_ui/jquery.ui.dialog.js"></script>
<script type="text/javascript"
	src="/js/jquery/plugins/jquery_ui/jquery.ui.effect.js"></script>
<script type="text/javascript"
	src="/js/jquery/plugins/jquery_ui/jquery.ui.effect-blind.js"></script>
<script type="text/javascript"
	src="/js/jquery/plugins/jquery_ui/jquery.ui.effect-explode.js"></script>
<script type="text/javascript"
	src="/js/jquery/plugins/jquery_ui/jquery.ui.slider.js"></script>
<script type="text/javascript" src="/js/custome/egress_vms.js"></script>
</html>
